.feature-image {
    width:100%;
    height:300px;
    opacity:0.9;
}

.disabled {
    filter: grayscale(100%);
}

.feature-text {
    background-color:white;
    color:black;
    padding: 2rem 2rem 0rem 2rem;
    font-size:1.5rem;
    height:400px;
}

.feature-header {
    height: 5rem;
}

.feature-description {
    padding: 2em 0em 0em 0em;
}

.feature-wrapper:hover {
    .feature-header {
        color:crimson;
        text-decoration: underline;
    }

    
}

@media screen and (max-width: 600px){
    .feature-image {
        height:300px;
    }

    .feature-text {
        height:300px;
        padding: 1rem 1rem 0rem 1rem;
    }
}
