.intro-wrapper {
    padding: 0rem 16rem;
}

.intro-text {
    font-size:3rem;
    padding: 6rem 0rem;
    max-width: 1100px;
}

.intro-button {
    padding:2rem;
    font-size:2rem;
    margin-top: 2rem;
}

#features {
    padding: 0rem 16rem;
}

.features-header {
    padding: 8rem 0rem;
    font-size: 3rem;
}

.features-grid {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:10px;
    margin-bottom:2rem;
}

.footer {
    padding: 2rem;
    background-color:crimson;
}

@media screen and (max-width: 1300px) {
    .intro-wrapper {
        padding: 0rem 8rem;
    }

    .intro-text {
        font-size:2.5rem;
    }

    #features {
        padding: 0rem 8rem;
    }
}


@media screen and (max-width: 800px) {
    .intro-wrapper {
        padding: 0rem 2rem;
    }

    .intro-text {
        font-size:2rem;
        padding:1rem;
    }

    .intro-button {
        padding:1rem;
        font-size:1.5rem;
        margin-top: 1rem;
    }

    .features-header {
        padding: 6rem 4rem 0rem 1rem;
        font-size: 2rem;
    }
    
    .features-grid {
        padding: 4rem 0.5rem 4rem 0.5rem;
        row-gap:1rem;
    }

    #features {
        padding: 0rem 0.25rem;
    }
}

@media screen and (max-width: 500px) {
    .intro-text {
        font-size:1.2rem;
    }
}
