.intro-wrapper {
    display:flex;
    background-color:rgb(248, 227, 227);
}

.intro-text {
    flex-basis: 50%;
    font-size: 2.5vw;
    padding: 4rem;
}

.intro-button {
    padding:2rem;
    font-size:2rem;
    margin-top: 2rem;
}

.intro-video {
    max-width:50%;
    flex-grow:1;
    padding:1rem;
}

.features-header {
    padding: 8rem 4rem 0rem 4rem;
    font-size: 3rem;
}

.features-grid {
    padding: 4rem 2rem 4rem 2rem;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:3px;
}

.footer {
    padding: 2rem;
    background-color:crimson;
}

@media screen and (max-width: 1000px) {
    .intro.text {
        font-size:2rem;
    }
}
