.participant-wrapper {
    border: 1px solid blue;
    width:15%;
    display:flex;
    flex-direction: column;
}

.participant-pic {
    height:80%;
    width:100%;
}

.participant-name {
    padding: 0px 0px 0px 10px;
    margin: 0px;
}