.login-wrapper-outer {
    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
}

.login-wrapper-inner {
    width: 20%;
    height:50%;
    padding: 20px;
    box-shadow: 0px 1px 3px 0.15px;
}

.login-wrapper-inner * {
    display:block;
    margin-top:5%;
    margin-bottom:5%;
}