button {
    background-color:var(--color-theme);
    color: white;
    cursor:pointer;
    padding: 0.8em 1em 0.8em 1em;
    border-radius:5%;
    box-shadow: 0px 0px 3px 0.1px grey;
    border:none;
    transition: opacity 0.25s;
    font-size:1.5rem;
}

button:hover {
    opacity: 90%;
}

button:active {
    box-shadow: 0px 0px 9px 0.1px grey;
}