.btn {
    background-color:var(--color-theme);
    color: white;
    cursor:pointer;
    padding: 0.5em 0.6em 0.5em 0.6em;
    border-radius:5%;
    box-shadow: 0px 0px 3px 0.1px grey;
    border:none;
    transition: opacity 0.25s;
    font-size:1.2rem;
    transition: color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}

.btn:hover {
    color: white;
    background-color: rgb(168, 16, 47);
}

.btn:active {
    box-shadow: 0px 0px 9px 0.1px grey;
}

.btn:disabled {
    cursor: not-allowed;
    background-color:black;
}