.leftnav-wrapper {
    overflow:auto;
    width:300px;
}

.new-conversation-wrapper {
    display:flex;
    color:white;
    background-color:crimson;
    transition: color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}

.new-conversation-wrapper:hover {
    color: black;
    background-color:white;

    .new-conversation-button {
        color:black;
        background-color:white;
    }
}

.new-conversation-text {
    padding:3rem;
    font-size:1.5rem;
    width:70%;
    cursor: pointer;
}

.new-conversation-button {
    border:none;
    cursor: pointer;
    font-size:4rem;
    color:white;
    width:30%;
    background-color:crimson;
    transition: color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out
}

@media screen and (max-width: 1000px) {
    .leftnav-wrapper {
        display:none;
    }
}

