.navbar {
    border: 1px solid black;
    display:flex;
    flex-direction: column;
    min-width: 10%;
}

.navbar-top-wrapper {
    flex-grow:85;
    border: 1px solid red;
    overflow-y:auto;
    overflow-x: hidden;
}

.navbar-bottom-wrapper {
    display:flex;
    flex-direction:column;
    flex-grow: 15;
    justify-content: space-between;
}

.navbar-bottom-wrapper * {
    display:flex;
    justify-content:center;
}