.topnav-wrapper {
    position:sticky;
    top:0;
    z-index:1000;
    margin-bottom:1rem;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    flex-wrap: wrap;
    padding: 0.5rem 2rem 0.5rem 0rem;
}

.topnav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color:black;
    margin-left:8rem;
    font-size:1.2rem;
    transition: color 0.4s ease-in-out;
}

.topnav a:first-child {
    font-size:2rem;
    font-weight: bold;
    margin-left:4rem;
}

.topnav button {
    margin-right:1rem;
}

.topnav a:hover {
    color:crimson;
}

.reveal {
    display: none;
}

.dropdown {
    display: none;
}

.dropdown a {
    display:block;
    text-decoration: none;
    color:black;
    padding: 1.5rem 0rem 1.5rem 4rem;
    background-color:white;
    border: 2px dashed crimson;
    font-size:1.5rem;
}

.dropdown a:hover {
    background-color:crimson;
    color:white;
}


@media screen and (max-width:800px) {
    .topnav a:not(:first-child), .topnav p {
        display:none;
    }

    .reveal {
        display:block;
    }

    .open {
        display:block;
    }
}
