.topnav-wrapper {
    position:sticky;
    top:0;
    z-index:1000;
    margin-bottom:1rem;
    background-color:white;
    padding: 0rem 3rem 0rem 3rem;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem 0.5rem 0rem;
    
}

.topnav a {
    text-decoration: none;
    color:black;
    font-size:1.2rem;
    transition: color 0.4s ease-in-out;
    margin-left: 6rem;
}

.topnav a:nth-child(2) {
    font-size:2rem;
    font-weight: bold;
    margin-left: 0rem;
}

.topnav a:hover {
    color:crimson;
}

.reveal {
    display: none;
}

.dropdown {
    display: none;
}

.topnav-dropdown-item {
    padding: 2rem;
    font-size:1.2rem;
    text-decoration:none;
    display:block;
    transition: 0.2s;
    color:black;
    background-color:white;
}

.topnav-dropdown-item:hover {
    color:crimson;
}

@media screen and (max-width:1000px) {
    .topnav-wrapper {
        padding: 0rem 1rem;
    }
    .topnav a {
        display:none;
    }

    .topnav a:nth-child(2) {
        display:block;
        margin-left: 1rem;
    }

    .reveal {
        display:block;
    }

    .open {
        display:block;
        position:absolute;
        top:4rem;
        left:0rem;
        overflow:auto;
        max-height:40vh;
        width:calc(100%);
    }

    .dropdown > * {
        display:block !important;
    }
}

@media screen and (max-width: 600px) {
    .topnav-wrapper {
        margin-bottom:0.5rem;
    }
}
